scikit-learn>=0.18.1
scipy>=0.19.0
tqdm>=4.11.2
bokeh>=0.12.6
selenium>=3.4.3
matplotlib>=1.5.3
arff>=0.9
glob2>=0.5
ipython>=6.1.0
tensorflow>=1.1.0
Keras>=2.0.3
memory_profiler>=0.47
psutil>=5.2.2
ipykernel>=4.6.1
